{% extends 'basePatient.html.twig' %}

{% block title %}Register{% endblock %}
{% block body %}
<style>
.newcss .form-group .form-control {
  height: 60px;
  padding: 20px;
  line-height: initial;
  color: #6b6b84;
  background-color: #ffffff;
  box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1);
  border: 1px solid #ffffff;
  transition: 0.6s;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
}
.newcss .form-group .form-control:focus {
  border: 1px solid #8e54e9;
  background-color: transparent;
  box-shadow: unset;
  outline: 0;
}
.newcss .nice-select {
  height: 60px;
  width: 100%;
  line-height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  color: #6b6b84;
  background-color: #ffffff;
  box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1);
  border: 1px solid #eeeeee;
  transition: 0.6s;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 16px;
}
.newcss .nice-select:focus {
  border: 1px solid #8e54e9;
  background-color: transparent;
  box-shadow: unset;
}
.newcss .nice-select .list {
  background-color: #ffffff;
  box-shadow: 0px 0px 29px 0px rgba(102, 102, 102, 0.1);
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 215px;
  overflow-y: scroll;
}
.newcss .nice-select .list .option {
  transition: 0.6s;
  color: #212529;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  font-weight: 500;
}
.newcss .nice-select .list .option:hover {
  background-color: #8e54e9 !important;
  color: #ffffff;
}
.newcss .nice-select .list .option.selected {
  background-color: transparent;
  font-weight: 600;
}
.newcss .nice-select::after {
  height: 8px;
  width: 8px;
  border-color: #8e54e9;
  right: 20px;
}
</style>
        <div class="preloader-area">
            <div class="spinner">
                <div class="inner">
                    <div class="disc"></div>
                    <div class="disc"></div>
                    <div class="disc"></div>
                </div>
            </div>
        </div>
        <div class="search-overlay">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="search-overlay-layer"></div>
                    <div class="search-overlay-layer"></div>
                    <div class="search-overlay-layer"></div>                   
                    <div class="search-overlay-close">
                        <span class="search-overlay-close-line"></span>
                        <span class="search-overlay-close-line"></span>
                    </div>
                    <div class="search-overlay-form">
                        <form>
                            <input type="text" class="input-search" placeholder="Search here...">
                            <button type="submit"><i class='flaticon-search'></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-banner-with-full-image item-bg4">
            <div class="container">
                <div class="page-banner-content-two">
                    <h2>Register</h2>
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>Register</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Page Banner Area -->

        <!-- Start Register Area -->
        <section class="register-area ptb-100">
            <div class="container">
                <div class="register-form">
                    <h2>Register</h2>
                    {{ form_errors(registrationForm) }}
                    <form method="post">
                        {{ form_start(registrationForm) }}
                        <div class="form-group">
                            <label>Name</label>
                            {{ form_widget(registrationForm.firstName, { 'attr': {'class': 'form-control', 'placeholder': 'First Name'} }) }}
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            {{ form_widget(registrationForm.lastName, { 'attr': {'class': 'form-control', 'placeholder': 'Last Name'} }) }}
                        </div>
                        
                          <div class="newcss form-group">
                            <label for="{{ registrationForm.roles.vars.id }}" class="form-label">Choisissez votre rôle</label>
                            <select name="{{ registrationForm.roles.vars.full_name }}" id="{{ registrationForm.roles.vars.id }}" class="newcss">
                                <option value="">Sélectionnez un rôle</option>
                                <option class="list" value="ROLE_PATIENT">Patient</option>
                                <option class="list" value="ROLE_PSYCHIATRE">Psychiatre</option>
                                <option class="list" value="ROLE_FOURNISSEUR">Fournisseur</option>
                            </select>
                          
                        </div>

                        <div class="form-group">
                            <label>Email</label>
                            {{ form_widget(registrationForm.email, { 'attr': {'class': 'form-control', 'placeholder': 'Email'} }) }}
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'Password'}}) }}
                        </div>

                        <p class="description">The password should be at least eight characters long. To make it stronger, use upper and lower case letters, numbers, and symbols like ! " ? $ % ^ & )</p>
                        
                        <div class="col-12">
                            <div class="form-check">                              
                                {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input', 'type': 'checkbox'}}) }}
                                <label class="form-check-label">
                                    {{ form_label(registrationForm.agreeTerms) }}
                                </label>
                            </div>
                        </div>
                        <button type="submit">Register Now</button>
                        <div class="col-12  mt-3">
                            <p>Already have an account ?<a href="{{ path('app_login') }}"> Sign In</a></p>
                        </div>
                        {{ form_end(registrationForm) }}
                    </form>
                </div>
            </div>
        </section>
        <!-- End Register Area -->
       
        <!-- Start Subscribe Area -->
        <div class="subscribe-area bg-top">
            <div class="container">
                <div class="subscribe-inner-box">
                    <div class="subscribe-content">
                        <h2>Subscribe Our Newsletter</h2>
                        <p>Lorem ipsum dolor sit amet consetetur sadipscing elitr sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat sed diam voluptua.</p>
    
                        <form class="newsletter-form" data-bs-toggle="validator">
                            <div class="row">
                                <div class="col-lg-8 col-md-6">
                                    <input type="email" class="input-newsletter" placeholder="Enter your email" name="EMAIL" required="" autocomplete="off">
                                </div>

                                <div class="col-lg-4 col-md-6">
                                    <button type="submit">Subscribe Now <i class="flaticon-paper-plane"></i></button>
                                    <div id="validator-newsletter" class="form-result"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Subscribe Area -->
        <!-- Start Copy Right Area -->
        <div class="copyright-area">
            <div class="container">
                <div class="copyright-area-content">
                    <p>
                        Copyright Psylo. All rights reserved By
                        <a href="https://envytheme.com/" target="_blank">EnvyTheme</a>
                    </p>
                </div>
            </div>
        </div>
        <!-- End Copy Right Area -->

        <!-- Start Go Top Area -->
        <div class="go-top">
            <i class='flaticon-up-arrow'></i>
        </div>
        <!-- End Go Top Area -->
        
        <!-- Jquery Slim JS -->
       

{% endblock %}
