{% extends 'base.html.twig' %}

{% block title %}Index des Catégories de Produits{% endblock %}

{% block body %}
    <h1>Index des Catégories de Produits</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prix</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for produit_categorie in produit_categories %}
                <tr>
                    <td>{{ produit_categorie.id }}</td>
                    <td>{{ produit_categorie.prix }}</td>
                    <td>{{ produit_categorie.nom }}</td>
                    <td>{{ produit_categorie.description }}</td>
                    <td>
                        {% if produit_categorie.image %}
                            <img src="{{ asset('uploads/images/' ~ produit_categorie.image) }}" alt="Image de {{ produit_categorie.nom }}" width="100">
                        {% else %}
                            Aucune image
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('produit_categorie_show', {'id': produit_categorie.id}) }}">Voir</a>
                        <a href="{{ path('produit_categories_edit', {'id': produit_categorie.id}) }}">Modifier</a>
                        <form method="post" action="{{ path('produit_categories_delete', {'id': produit_categorie.id}) }}" style="display:inline;" onsubmit="return confirm('Voulez-vous vraiment supprimer cette catégorie ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit_categorie.id) }}">
                            <button type="submit">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Aucune catégorie trouvée</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <form method="POST" action="{{ path('ajouter_categorie') }}" enctype="multipart/form-data">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Ajouter</button>
        {{ form_end(form) }}
    </form>
    
    
    
    
{% endblock %}
